<% if post.liked?(current_user) %>
  <%= link_to post_likes_path(post.id), method: :delete, remote: true, class:"text-decoration-none text-reset" do %>
    <i class="fa-solid fa-lg fa-heart" style="color:gold"></i>
    <a><%= post.likes.count %></a>
  <% end %>
<% else %>
  <%= link_to post_likes_path(post.id), method: :post, remote: true, class:"text-decoration-none text-reset" do %>
    <i class="fa-regular fa-lg fa-heart"></i>
    <%= post.likes.count %>
  <% end %>
<% end %>