<%= render "shared/header" %>

  <main>
    <div class="text-center container-fluid bg-light">
      <div class="card w-90 p-0 mx-auto shadow-sm">
        <div class="card-body">
          <h4 class="text-center py-3 bg-light"><%= @user.nickname %>さんのギア一覧</h4>

          <div class="album py-3 bg-light">
            <%= render "shared/album" %>
          </div>

        </div>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>