  <footer class="text-muted py-2">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#", class="text-muted">Back to top</a>
      </p>
      <p class="mb-1">Copyright &copy; xxx All Rights Reserved.</p>
    </div>
  </footer>

</body>
</html>