  <footer class="text-muted py-2">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#", class="text-muted">Back to top</a>
      </p>
      <p class="mb-1">&copy; 2022 troymich123</p>
    </div>
  </footer>

</body>
</html>