<%= render "shared/header" %> 

  <main>
    <div class="text-center container-fluid bg-light">
      <div class="card w-90 p-0 mx-auto shadow-sm">
        <div class="card-body">
          <h4 class="text-center py-3 bg-light">検索結果</h4>

          <div class="album py-3 bg-light">
            <%= render "shared/album" %>
            <br>
            <%= paginate @posts, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
          </div>

        </div>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>