.title-contents {
  background-image: image-url('camp-front.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.fw-light-ext {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.lead-ext {
  color: white;
}

.preview-size{
  height: 150px;
  width: auto;
}