.title-contents {
  background-image: image-url('camp-front.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.fw-light-ext {
  color: white;
}

.lead-ext {
  color: white;
}
